<div class="container-fluid background_color_black" style="width: 100%;">
    <div class="row mt-3 mb-3">
        <div class="col-1" style="text-align: right; font-size: small;">
            CONTATO 
        </div>
        <div class="col-7" style="text-align: left; font-size: small;">
            <a href="https://api.whatsapp.com/send?phone=5513991206178&text=Olá,%20gostaria%20de%20mais%20informações!"
                target="_blank">
                <i class="fa fa-whatsapp" style="font-size:24px;color:green;"></i>
            </a>
        </div>
        <div class="col-4" style="text-align: right; font-size: small;">
            Powered by ACADES ® 2018
        </div>
    </div>
</div>
