@page "/"

<script type="text/javascript" src="/js/bootstrap-carousel.js"></script>
<div class="row mt-3 mb-3">
    <div class="col-1"></div>
    <div class="col-10">
        <h3>
            ACADES
            <small class="text-muted">Consultoria e Soluções em Data Analytics</small>
        </h3>
    </div>
    <div class="col-1"></div>
</div>

<div class="row mt-2 mb-3 home_top seccion_fullwidth background_color_cinza_faixa">
    <div class="col-1"></div>
    <div class="col-10" ng-non-bindable>

        <div id="carouselHome" class="carousel " data-ride="carousel" data-interval="10000">
            <ol class="carousel-indicators">
                <li data-target="carouselHome" data-slide-to="0" class="active"></li>
                <li data-target="carouselHome" data-slide-to="1"></li>
                <li data-target="carouselHome" data-slide-to="2"></li>
                <li data-target="carouselHome" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <!-- Transformamos seus dados -->
                    <img src="/images/home_top_001.png" class="img-responsive img-fluid shadow" />
                    <div class="carousel-caption d-none d-md-block">
                        <p class="txt-color-tm-white txt-shadow" style="font-size: 4vw;"><strong>Transformamos os dados
                                em conhecimento</strong></p>
                        <p>&nbsp;</p>
                        <p class="txt-color-tm-white txt-shadow mb-2" style="font-size: 3vw;">
                            <strong>
                                Os seus dados legado em informações precisas, que
                                direcionarão o seu negócio para novos patamares.
                            </strong>
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <!-- Cloud Computing -->
                    <img src="/images/home_top_002.png" class="img-responsive img-fluid shadow" />
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="txt-color-tm-white txt-shadow mb-2" style="font-size: 4vw;">Transformação Digital
                        </h5>
                        <p>&nbsp;</p>
                        <p class="txt-color-tm-white txt-shadow" style="font-size: 3vw;">
                            Auxiliamos na consultoria de todo o processo de Transformação
                            Digital de sua empresas para melhorar seu desempenho, ampliar seu
                            alcance e otimizar os resultados.
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <!-- IA e Dados -->
                    <img src="/images/home_top_003.png" class="img-responsive img-fluid shadow" />
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="txt-color-tm-white txt-shadow" style="font-size: 4vw;">Inteligência Artificial</h5>
                        <p>&nbsp;</p>
                        <p class="txt-color-tm-white txt-shadow mb-5" style="font-size: 3vw;">
                            Revolucione sua empresa implementando IA em seus negócios.
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <!-- Deep Learning -->
                    <img src="/images/home_top_004.png" class="img-responsive img-fluid shadow" />
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="txt-color-tm-white txt-shadow" style="font-size: 4vw;">Deep Learning e Machine
                            Learning</h5>
                        <p>&nbsp;</p>
                        <p class="txt-color-tm-white txt-shadow mb-2" style="font-size: 3vw;">
                            Criamos soluções inteligentes baseadas nos dados de seus negócios para
                            que suas estratégias atinjam a excelência.
                        </p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselHome" role="button" data-slide="prev" target="_self">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselHome" role="button" data-slide="next" target="_self">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </div>
    <div class="col-1"></div>
</div>

<div class="row mt-3 mb-4">
    <div class="col-2 content_icons"></div>
    <div class="col-2 content_icons" style="align-content: center;"><img src="/images/icon_azure_service.png"
            class="img-responsive img-fluid" style="margin-left: auto; margin-right: auto; display: block;" /></div>
    <div class="col-2 content_icons" style="align-content: center;"><img src="/images/icon_aws_service.png"
            class="img-responsive img-fluid" style="margin-left: auto; margin-right: auto; display: block;" /></div>
    <div class="col-2 content_icons" style="align-content: center;"><img src="/images/icon_etl_service.png"
            class="img-responsive img-fluid" style="margin-left: auto; margin-right: auto; display: block;" /></div>
    <div class="col-2 content_icons" style="align-content: center;"><img src="/images/icon_agile_service.png"
            class="img-responsive img-fluid" style="margin-left: auto; margin-right: auto; display: block;" /></div>
    <div class="col-2 content_icons"></div>
</div>

<div class="row mt-3 mb-4">
    <div class="col-1"></div>
    <div class="col-10 h5 text-info title_main">
        <b>Missão</b>
    </div>
    <div class="col-1"></div>
</div>

<div class="row mt-3 mb-5 lead middle_text txt-color-tm-bluedark">
    <div class="col-1"></div>
    <div class="col-10">
        Criar ferramentas que ajudem no desenvolvimento de produtos sustentáveis, limpos e acessíveis a todos, a
        fim de contribuir na evolução da humanidade no viés social, familiar, educativo e alimentar.
    </div>
    <div class="col-1"></div>
</div>

<div class="row mt-5 mb-3 pt-5 seccion_fullwidth background_color_cinza_faixa">
    <div class="col-1"></div>

    <div class="col-6 target_div_subject">

        <div class="container">
            <div class="row">
                <div class="col-12 h5 text-info title_main">
                    <b>Objetivo</b>
                </div>
            </div>
            <div class="row mt-3 mb-2 lead middle_text txt-color-tm-bluedark">
                <div class="col-12">
                    Transformar dados em conhecimento analítico, tornando tomadas de decisões acertivas em lucros mais
                    expressivos.
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-12 middle_text">
                    Desenvolvemos soluções de Big Data Analytics e Inteligência Artificial que geram
                    precisão e otimização nas tomadas de decisão, aumentam a assertividade e a produtividade nos
                    processos
                    de Marketing, Compliance, Prevenção Anti Fraudes, Análise Financeira e Jurídica, Gestão de Crédito,
                    entre outros.
                </div>
            </div>
        </div>

    </div>

    <div class="col-4 float-right">

        <div class="shadow p-1 mb-3 rounded bg-color-tm-yellow">
            <img src="/images/analytics_dashboard.png" class="rounded img-responsive img-fluid" />
        </div>

    </div>

    <div class="col-1"></div>
</div>

<div class="row mt-4 mb-3">
    <div class="col-1"></div>

    <div class="col-4 float-left">

        <div class="shadow p-1 mb-3 rounded-circle bg-color-tm-yellow">
            <img src="/images/values_busines.png" class="rounded-circle img-responsive img-fluid" />
        </div>

    </div>

    <div class="col-6 values_div_subject">

        <div class="container">
            <div class="row">
                <div class="col-12 h5 text-info title_main">
                    <b>Valores</b>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <p class="lead middle_text txt-color-tm-bluedark">
                        Nossos principais valores são:
                    </p>
                    <ul class="lead middle_text txt-color-tm-bluedark">
                        <li><b>Ética:</b> Nossa conduta é guiada pela ética, assegurando que todas as nossas ações e
                            decisões sejam tomadas com transparência, honestidade e respeito aos princípios morais.</li>
                        <li><b>Disciplina:</b> Valorizamos a disciplina como um pilar fundamental para o cumprimento de
                            nossos compromissos e a excelência em nossos serviços.</li>
                        <li><b>Integridade:</b> Atuamos com integridade em todas as nossas interações, garantindo que
                            nossas práticas sejam coerentes com nossos valores e promessas.</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div class="col-1"></div>
</div>
<div class="row mt-4 mb-3">
    <div class="col-1"></div>

    <div class="col-10 values_div_subject">

        <ul class="lead middle_text txt-color-tm-bluedark">
            <li><b>Respeito:</b> Respeitamos a diversidade de ideias, culturas e pessoas, entendendo que o
                respeito mútuo é essencial para a construção de um ambiente de trabalho harmonioso e
                produtivo.</li>
            <li><b>Pontualidade:</b> Reconhecemos a importância do tempo e nos comprometemos a ser pontuais
                em todas as nossas entregas e interações, garantindo que nossos projetos sejam concluídos
                dentro dos prazos estipulados.</li>
            <li><b>Comprometimento com a Sustentabilidade:</b> Buscamos desenvolver soluções que não apenas
                atendam às necessidades de nossos clientes, mas que também contribuam para um futuro mais
                sustentável.</li>
            <li><b>Inovação e Excelência:</b> Estamos constantemente em busca de inovação para entregar
                soluções de vanguarda que atendam e superem as expectativas de nossos clientes.</li>
        </ul>

    </div>
    <div class="col-1"></div>
</div>
<div class="row mt-2 mb-3 seccion_fullwidth background_color_cinza_faixa">
    <div class="col-1"></div>
    <div class="col-10">&nbsp;</div>
    <div class="col-1"></div>
</div>

<div class="row mt-3 mb-5">
    <div class="col-12">
    </div>
</div>
